body, html{
	width: 100%;
	min-height: 100%;
	height: 100% !important;
	/*position: fixed;*/
	top:0;
	left:0;
}

body{

	position: absolute;
	background-color: #222;
}

header{
	width: 100%;
	height: 7.5%;
	float: left;
}

section{
	background-color: red;
	width: 100%;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #080808;
}

article{
	background-color: white;
	display: inline-block;
    text-align: center;
}

footer{
	width: 100%;
	height: 5%;
	float: left;
}

/*--IMAGENES--*/

.login {
    width: 50%;
    padding: 12px 20px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input, select{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;

}

input [type="text"]:focus, select:focus{
	width: 75%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color: #f2ffe6;
	border-radius: 25px;
	border-color: green;
}


.boton {
	width: 10%;
	display: inline;
    background-color: #4CAF50;
	color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 25px;
	cursor: pointer;
}

.botones {
	width: 20%;
	display: inline;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

#captcha{
	width: 45%;
	padding: 20px;
	margin: auto;
}

form label{
	display: none;
}

form h1{
	font-size: 36px;
	color: #626267;
	font-family: serif;
}

form a {
	margin-left: 50%;
}

#form1{
	float: left;
	width: 50%;
	margin-bottom: 40px;
}

#form2{
	float: right;
	width: 50%;

}

#desc-empresa{
	width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#error-empre, #error-oferta{
	width: auto;
	height: auto;
	background-color: #ffccf8;
	border: solid 3px red;
	border-radius: 20px;
	display: none;
	bottom: 0;
	position: absolute;
	padding-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -14%;
	color: red;
	font-size: 15px;
	margin-bottom: 10rem;
}

#error-usu{
	width: auto;
	height: auto;
	background-color: #ffccf8;
	border: solid 3px red;
	border-radius: 20px;
	display: none;
	bottom: 0;
	position: absolute;
	padding-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 5%;
	color: red;
	font-size: 15px;
	margin-bottom: 10rem;
}

#form_contact{
	margin-top: 8%;
}
#form_contact textarea{
	width: 75%;
	height: 75px;
	border-radius: 20px;
}

#boton-contact{
	width: 35%;
	background-color: #4CAF50;
	margin-top: 1%;
}
}