article{
	background-color: transparent;
	display: inline-block;
	text-align: center;
}
/*--IMAGENES--*/

.login {
    width: 50%;
    padding: 12px 20px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input, select{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;

}

input [type="text"]:focus, select:focus{
	width: 75%;
	padding: 12px 20px;
	margin: 8px 0;
	background-color: #f2ffe6;
	border-radius: 25px;
	border-color: green;
}


.boton {
	width: 10%;
	display: inline;
    background-color: #4CAF50;
	color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 25px;
	cursor: pointer;
}

.botones {
	width: 20%;
	display: inline;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

#captcha{
	width: 45%;
	padding: 20px;
	margin: auto;
}
form{

}

form label{
	display: none;
}

form h1{
	font-size: 36px;
	color: #626267;
	font-family: serif;
}

form a {
	margin-left: 50%;
}

#form1{
	float: left;
	width: 50%;
	margin-bottom: 40px;
}

#form2{
	float: right;
	width: 50%;

}

#desc-empresa{
	width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#error-empre, #error-oferta{
	width: 23%;
	height: auto;
	border: solid 3px rgb(255, 128, 128);
	display: none;
	position: absolute;
	padding-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -12%;
	color: red;
	font-size: 15px;
	top: 84%;
}

#error-empre img, #error-oferta img{
	width: 10%;
	height: auto;

}

#error-usu{
	width: 23%;
	height: auto;
	border: solid 3px rgb(255, 128, 128);
	display: none;
	position: absolute;
	padding-top: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 8%;
	color: red;
	font-size: 15px;
	top: 80%;
}

#form_contact{
	margin-top: 8%;
}
#form_contact textarea{
	width: 75%;
	height: 75px;
	border-radius: 20px;
}

#boton-contact{
	width: 35%;
	background-color: #4CAF50;
	margin-top: 1%;
}

.fondo{
	width: 100%;
	height: auto;

}

