body, html{
	-width: 100%;
	min-height: 100%;
	height: 100% !important;
	/*position: fixed;*/
	top:0;
	left:0;
}

body{

	position: absolute;
	background-color: #222;
}

header{
	width: 100%;
	height: 7.5%;
	float: left;
}

nav{
	width: 80%;
	height: 7.5%;
	float: right;
	margin-right: 5%;
}

section{
	background-color: white;
	width: 80%;
	min-height: 80%;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: #080808;
	border-radius: 5px;
}


article{
	width: 100%;
	background-color: white;
	display: inline-block;
	text-align: center;
}

aside{
	width: 15%;
	min-height: 87.5%;
	height: auto;
	float: left;
}

footer{
	width: 100%;
	height: 5%;
	float: left;
}
/*--IMAGENES--*/

.listImg{
	width: 100%;
	height: 100%;
	padding: 5%;
}

.carousel-generico{
	margin-top: 2%;
}
/*--OTROS--*/

.actividad{
	margin-top: 2%;
	margin-bottom: 2%;
}



.imgperfil > img{
	border-radius: 50%;
	margin-left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

.imgperfil{
	position: relative;
	float: left;
width: 25%;
margin-left: 4em;
margin-top: -6em;
}

.imgperfil > button{
	margin-top: 1em;
}

.alias{
	position: relative;
	float: left;
	width: 70%;
	padding-bottom: 9em;
}

#lista{
	display: inline-block;
}

#lista ul li
{
	display: flex;
    align-items: left;
}

.titulo{
	padding: 1em;
	font-size: 3em;
	font-style: italic;
}

.actividadesRecientes{
	position: relative;
	padding-top: 3em;
	float: left;
	width: 40%;
}

.actividadesRecientes p{
	width: 50%;
	margin-left: 10em;
}

.actividadesFavoritas{
	position: relative;
	padding-top: 3em;
	float: right;
	width: 60%;
}

.actividadesFavoritas img{
	width: 23%;
}

#bajo{
	width: 100%;
	background-color: red;
}

#detalle-oferta{
	color: black;
	margin-top: 10%;
	margin-left: 30%;
}

#reserva-oferta{
	color: black;
	margin-left: 30%;

}

#acercade p{
	width: 50%;
	display: inline-block;
	text-align: justify;
}

#acercade h3{
	margin-left: -106rem;
	margin-bottom: 1%;
}


#acercade {
	padding-top: 3%;
}


.imgacerca{
	width: 24%;
	height: auto;
	margin-bottom: 2%;
	margin-top: -9%;
	border-radius: 25px;
	margin-right: 4%;
}

#funciona p{
	width: 50%;
	text-align: justify;
}

.funciona1{
	display: flex;
	float: left;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: -10%;
}
.funciona1 img{
	width: 25%;
	height: 25%;
	margin-top: 0;
	border-radius: 15px;
}

.funciona2{
	display: flex;
	float: right;
	margin-top: 5%;
	margin-left: 5%;
	margin-bottom: -5%;
}
.funciona2 img{
	width: 20%;
	height: 25%;
	margin-right: 3%;
	margin-left: 38px;
	margin-top: 0;
	border-radius: 30px;
}

.form_contact{
	width: 60%;
	margin-left: 20%;
	margin-top: 5%;
}


.selectboton{
	margin-left: 10%;
	margin-top: 15%;
	width: 80%;
	display: flex;

}

.selectboton input{
	width: 60%;
	height: 300px;
	background-color: red;
	color: white;
	font-size: 2em;
	border-radius: 15px;

}

