body, html{
	-width: 100%;
	min-height: 100%;
	height: 100% !important;
	/*position: fixed;*/
	top:0;
	left:0;
}

body{

	position: absolute;
	
background: rgba(163,231,250,1);
background: -moz-linear-gradient(top, rgba(163,231,250,1) 0%, rgba(204,244,255,1) 59%, rgba(224,249,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(163,231,250,1)), color-stop(59%, rgba(204,244,255,1)), color-stop(100%, rgba(224,249,255,1)));
background: -webkit-linear-gradient(top, rgba(163,231,250,1) 0%, rgba(204,244,255,1) 59%, rgba(224,249,255,1) 100%);
background: -o-linear-gradient(top, rgba(163,231,250,1) 0%, rgba(204,244,255,1) 59%, rgba(224,249,255,1) 100%);
background: -ms-linear-gradient(top, rgba(163,231,250,1) 0%, rgba(204,244,255,1) 59%, rgba(224,249,255,1) 100%);
background: linear-gradient(to bottom, rgba(163,231,250,1) 0%, rgba(204,244,255,1) 59%, rgba(224,249,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3e7fa', endColorstr='#e0f9ff', GradientType=0 );
background-repeat: no-repeat;
background-attachment: fixed;
}

header{
	/*background: #232526;   fallback for old browsers
background: -webkit-linear-gradient(to right, #414345, #232526);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #414345, #232526); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	float: left;
}


nav{
	width: 80%;
	height: 7.5%;
	float: right;
	margin-right: 7%;
}

section{
	background-color: white;
	width: 80%;
	min-height: 80%;
	float: left;
	border-top-style: solid;
  /*border-left-style: solid;*/
  border-bottom-style: solid;
	border-width: 1px;
	border-color: #080808;
	border-radius: 5px;
  -webkit-box-shadow: 18px 10px 19px 11px rgba(0,0,0,0.75);
-moz-box-shadow: 18px 10px 19px 11px rgba(0,0,0,0.75);
box-shadow: 18px 10px 19px 11px rgba(0,0,0,0.75);
}

article{
	width: 100%;
	display: inline-block;
	text-align: center;
}

.index {
	width: 100%;
	background-color: white;
	text-align: center;
}

aside{
	width: 13%;
	min-height: 87.5%;
	height: auto;
	float: left;
	padding-left: 1%;
	padding-right: 1%;
}

footer{
	width: 100%;
	height: 10%;
	float: left;
  margin-top: 5%;
}

.filtroBusqueda{
  background-color: transparent;
}

.menuPrincipalUser{
  background-color: transparent;

}
.publicidad{
    background-color: transparent;

}
.menuLogin{
      background-color: transparent;

}

.pie{
    background-color: #333;

}

.navbar-inverse {
	background-color: #222;
	border-color: #080808;
}

.navbar-header {
	margin-left: 3% !important;
}


.navbar-right {
	margin-right: -10px;
}

/*--IMAGENES--*/

.listImg{
	width: 100%;
	height: 100%;
	padding: 5%;
}

#logo {
	width: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

}
#logo > img {
	width: 6.5rem;
}

/*--OTROS--*/
#cargar{
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

.actividad{
	margin-left: 3%;
	margin-right: -1%;
	margin-top: 1%;
	margin-bottom: 1%;
	width: 30%;
	min-height: 530px;
	border-radius: 18px 0px 0px 0px;
-moz-border-radius: 18px 0px 0px 0px;
-webkit-border-radius: 18px 0px 0px 0px;
border:   #000000;

-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);



background: rgba(134,174,204,1);
background: -moz-linear-gradient(-45deg, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(134,174,204,1)), color-stop(100%, rgba(212,228,239,1)));
background: -webkit-linear-gradient(-45deg, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
background: -o-linear-gradient(-45deg, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
background: linear-gradient(135deg, rgba(134,174,204,1) 0%, rgba(212,228,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#86aecc', endColorstr='#d4e4ef', GradientType=1 );

}

#userforms{
  display: block;
}

.actividadesRecientes{
	position: relative;
	padding-top: 3em;
	float: left;
	width: 100%;
}

.actividadesRecientes p{
	padding-left: 10%;
	padding-right: 10%;

}

.actividadesFavoritas{
	position: relative;
	padding-top: 3em;
	float: right;
	width: 100%;
	padding-bottom: 3em;
}

.actividadesFavoritas img{
	width: 23%;
}


#bajo{
	width: 100%;
	background-color: red;
}

#sectionforms{
  text-align:center;

 }

#reserva-oferta{
	color: black;
}

.modal-header{

background: rgba(147,206,222,1);
background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );

}


#acercade p{
	width: 50%;
	display: inline-block;
	text-align: justify;
	margin-right: 3em;
}

#acercade h3{
	margin-bottom: 1%;
}


#acercade {
  padding-top: 8%;
  margin-bottom: 5em;
}


.imgacerca{
	width: 24%;
	height: auto;
	margin-bottom: 2%;
	margin-top: -9%;
	border-radius: 25px;
	margin-right: 4%;
}

/*CSS VISTA COMO FUNCIONA*/
#funciona p {
	width: 90%;
	text-align: justify;
}


.funciona1 {
	display: flex;
	float: left;
	margin-top: 9%;
	margin-left: 8%;
	margin-bottom: -10%;
	margin-right: -30%;
	width: 100%;
}
.funciona1 img {
	border-radius: 200px;
	width: 35%;
	height: 35%;
	margin-left: -3%;
}


.funciona1 img:hover  {
	border-radius: 200px;
	transition: 0.70s;
	-webkit-transition: 0.70s;
	-moz-transition: 0.70s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.funcionaEmpreUsu{
	width: 53%;
	padding: 0;
}

.listaFuncionaEmpre{
	text-align: left;
}

.listaFuncionaUsu{
    text-align: left;
}


.funciona1 h2 {
	text-align: left;
}


#morecsspure-trigger-toggle {
	cursor: pointer;
}
#morecsspure-element-toggle {
	display:none;
}
#morecsspure-element-toggle:not(:checked) ~ #morecsspure-toggled-element {
	display:none;
}
#morecsspure-element-toggle:not(:checked) ~ #morecsspure-trigger-toggle .morecsspure-lesslink {
	display:none;
}

#morecsspure-element-toggle:checked ~ #morecsspure-trigger-toggle .morecsspure-morelink {
	display:none;
}
#morecsspure .morecsspure-morelink, #morecsspure .morecsspure-lesslink {
	display: block;
	cursor: pointer;
	color:#2196f3;
}
#morecsspure .morecsspure-morelink:hover, #morecsspure .morecsspure-lesslink:hover {
	text-decoration:underline;
}




#morecsspure1-trigger-toggle {
	cursor: pointer;
}
#morecsspure1-element-toggle {
	display:none;
}
#morecsspure1-element-toggle:not(:checked) ~ #morecsspure1-toggled-element {
	display:none;
}
#morecsspure1-element-toggle:not(:checked) ~ #morecsspure1-trigger-toggle .morecsspure1-lesslink {
	display:none;
}

#morecsspure1-element-toggle:checked ~ #morecsspure1-trigger-toggle .morecsspure1-morelink {
	display:none;
}
#morecsspure1 .morecsspure1-morelink, #morecsspure1 .morecsspure1-lesslink {
	display: block;
	cursor: pointer;
	color:#2196f3;
}
#morecsspure1 .morecsspure1-morelink:hover, #morecsspure1 .morecsspure1-lesslink:hover {
	text-decoration:underline;
}




/*FIN CSS VISTA COMO FUNCIONA*/

.form_contact{
	width: 60%;
	margin-left: 20%;
	margin-top: 5%;
}


.selectboton{
	margin-left: 10%;
	margin-top: 15%;
	width: 80%;
	display: inherit;

}

.selectboton input{
	width: 28%;
	height: 86px;
	background-color: red;
	color: white;
	font-size: 1.5vw;
	border-radius: 15px;
	margin-top: -5%;
	margin-left: 3%;
	margin-right: 16%;
	padding-left: 4%;
	padding-right: 12%;
}

.selectboton img{
	width: 36%;
	margin-top: -12%;
	margin-left: -2%;
	margin-right: 12%;
	margin-bottom: 4%;
}

.selectboton img:hover{
	-webkit-transform: rotateY(180deg);
	-webkit-transform-style: preserve-3d;
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}

/* Sistema de puntuación y reseña */

.rating {
	--star-size: 3;  /* use CSS variables to calculate dependent dimensions later */
	padding: 0;  /* to prevent flicker when mousing over padding */
	border: none;  /* to prevent flicker when mousing over border */
	unicode-bidi: bidi-override; direction: rtl;  /* for CSS-only style change on hover */
	text-align: left;  /* revert the RTL direction */
	user-select: none;  /* disable mouse/touch selection */
	font-size: 3em;  /* fallback - IE doesn't support CSS variables */
	font-size: calc(var(--star-size) * 1em);  /* because `var(--star-size)em` would be too good to be true */
	cursor: pointer;
	/* disable touch feedback on cursor: pointer - http://stackoverflow.com/q/25704650/1269037 */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	margin-bottom: 1em;
}
/* the stars */
.rating > label {
	display: inline-block;
	position: relative;
	width: 1.1em;  /* magic number to overlap the radio buttons on top of the stars */
	width: calc(var(--star-size) / 3 * 1.1em);
}
.rating > *:hover,
.rating > *:hover ~ label,
.rating:not(:hover) > input:checked ~ label {
	color: transparent;  /* reveal the contour/white star from the HTML markup */
	cursor: inherit;  /* avoid a cursor transition from arrow/pointer to text selection */
}
.rating > *:hover:before,
.rating > *:hover ~ label:before,
.rating:not(:hover) > input:checked ~ label:before {
	content: "★";
	position: absolute;
	left: 0;
	color: gold;
}
.rating > input {
	position: relative;
	transform: scale(3);  /* make the radio buttons big; they don't inherit font-size */
	transform: scale(var(--star-size));
	/* the magic numbers below correlate with the font-size */
	top: -0.5em;  /* margin-top doesn't work */
	top: calc(var(--star-size) / 6 * -1em);
	margin-left: -2.5em;  /* overlap the radio buttons exactly under the stars */
	margin-left: calc(var(--star-size) / 6 * -5em);
	z-index: 2;  /* bring the button above the stars so it captures touches/clicks */
	opacity: 0;  /* comment to see where the radio buttons are */
	font-size: initial; /* reset to default */
}

#puntuacion button{
    margin-bottom: 3%;
}

/* ------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1208 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
}
figure.snip1208 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
figure.snip1208 img {
	max-width: 100%;
	width: 100%;
	height: 200px;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
figure.snip1208 figcaption {
  padding: 25px;
  position: relative;
}
figure.snip1208 .date,
figure.snip1208 i {
  background-color: #1abc9c;
  top: 25px;
  color: #fff;
  left: 25px;
  min-height: 60px;
  min-width: 60px;
  position: absolute;
  text-align: center;
}
figure.snip1208 .date {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
figure.snip1208 .date span {
  display: block;
  line-height: 30px;
}
figure.snip1208 .date .month {
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
figure.snip1208 i {
  line-height: 60px;
  font-size: 30px;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip1208 h3,
figure.snip1208 p {
  margin: 0;
  padding: 0;
}
figure.snip1208 h3 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 600;
  color: #333333;
  text-transform: uppercase;
}
figure.snip1208 p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}
figure.snip1208 button {
  border: medium none;
  padding: 10px 20px;
  background-color: #1abc9c;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
}
figure.snip1208 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1208:hover img,
figure.snip1208.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1208:hover .date,
figure.snip1208.hover .date {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip1208:hover i,
figure.snip1208.hover i {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1208:hover button,
figure.snip1208.hover button {
  background-color: #117964;
}

/*TABLA OFERTA*/

.tabla {
	margin: 0
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


/*MODAL*/


/*Tarjetas de acercade*/




@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0067 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 18%;
  max-width: 18%;
  width: 100%;
  background: #ffffff;
  color: #000000;
}

figure.snip0067 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip0067 img {
  max-width: 100%;
  position: relative;
  display: block;
}

figure.snip0067:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 90%;
  z-index: 1;
  left: -20%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: skewX(-30deg) translateX(-80%);
  transform: skewX(-30deg) translateX(-80%);
  -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

figure.snip0067 figcaption {
  padding-left: 30px;
  position: absolute;
  left: 0;
  top: 25%;
  width: 60%;
  z-index: 1;
  opacity: 0;
}

figure.snip0067 figcaption h2,
figure.snip0067 figcaption p {
  margin: 0;
  text-align: left;
  padding: 5px 0 0;
  width: 100%;
}

figure.snip0067 figcaption h2 {
  font-size: 1.4em;
  font-weight: 300;
  text-transform: uppercase;
}

figure.snip0067 figcaption h2 span {
  font-weight: 800;
}

figure.snip0067 figcaption p {
  font-weight: 500;
  font-size: 0.9em;
  opacity: 0.8;
}

figure.snip0067 figcaption .icons {
  width: 100%;
  padding: 8px 0;
}

figure.snip0067 figcaption .icons i {
  display: inline-block;
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  margin-right: 5px;
  opacity: 0;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
}

figure.snip0067 figcaption a {
  opacity: 0.7;
}

figure.snip0067 figcaption a:hover {
  opacity: 1;
}

figure.snip0067 .position {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 500;
  color: #ffffff;
  background: #000000;
}

figure.snip0067.blue .icons i {
  background: white;
}

figure.snip0067.blue .position {
  background: #20638f;
}

figure.snip0067.red .icons i {
  background: white;
}

figure.snip0067.red .position {
  background: #962d22;
}

figure.snip0067.yellow .icons i {
  background: white;
}

figure.snip0067.yellow .position {
  background: #bf6516;
}

figure.snip0067.green .icons i {
  background: white;
}

figure.snip0067.navy .icons i {
  background: white;
}

figure.snip0067.green .position {
  background: #1e8449;
}

figure.snip0067:hover figcaption,
figure.snip0067.hover figcaption,
figure.snip0067:hover .icons i,
figure.snip0067.hover .icons i {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip0067:hover:before,
figure.snip0067.hover:before {
  -webkit-transform: skewX(-30deg) translateX(0px);
  transform: skewX(-30deg) translateX(0px);
}

/*Imagenes rotatorias*/

#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

/* Perfil.php */

.status {
    width: 80%;
    top: 1%;
    position: fixed;
    z-index: 999;
}
/* Borrar los de arriba */
.titulo {
    font-family: 'Hammersmith One', sans-serif;
}

#upfile {
    margin: 0 auto;
}

.imgperfil > img{
    border-radius: 50%;
    overflow: hidden;
    margin-left: 0;
    height: 30rem;
    width: 30rem;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 4px 4px 14px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 14px 1px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 14px 1px rgba(0,0,0,0.75);
}

.imgperfil{
    position: relative;
    float: left;
    width: 40%;
    padding: 3%;
}

.infoperfil{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.infoperfiliz{
    width: 70%;
    float: left;
    text-align: left;
    position: relative;
    vertical-align: baseline;
}
.infoperfiliz>label{
    float: left;
    padding-top: 1.8%;
    vertical-align: baseline;
}

.infoperfiliz>button{
    float: right;
    margin: 2%;
    vertical-align: baseline;
}

.infoperfilde{
    /*background-color: brown;*/
    width: 30%;
    float: left;
    position: relative;
    vertical-align: baseline;
}

.infoperfilde > input{
    float: left;
    padding: 3px 20%;
    margin: 1%;
    box-sizing: border-box;
    border: 2px solid #1110106e;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.infoperfilde>button{
    float: left;
    margin: 5%;
}

.infoperfilde > input[type=text]:focus, .infoperfilde > input[type=password]:focus {
    background-color: #337ab7;
    color: white;
}

.alias{
    position: relative;
    float: right;
    width: 60%;
    margin-bottom: 5%;
}

#lista{
    background-color: white;
    width: 70%;
    color: black;
    margin-top: 10%;
    position: relative;
    width: 48%;
    text-align: center;
    margin: auto;
}

.filainfo{
    width: 100%;
    float: left;
}

.infoperfil{
    position: relative;
    float: left;
    width: 90%;
    min-height: 30%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

#alerta-sin-actividades {
    width: 78%;
    position: absolute;
    left: 14%;
    right: 0;
    bottom: 5%;
}

#alerta-sin-reservas {
	width: 23%;
	position: absolute;
	left: 41%;
	right: 40%;
	bottom: 50%;
}

/* ---------- */

/* Bloque destacados */

#bloque_destacados {
	width: 100%;
	height: 65rem;
}

.destacada { /* cada actividad */
	background: -moz-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(147,206,222,1)), color-stop(41%, rgba(117,189,209,1)), color-stop(100%, rgba(73,165,191,1)));
	background: -webkit-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -o-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: -ms-linear-gradient(top, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	background: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=0 );
	margin-bottom: 3%;

}

/* ---------- */