<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./components/index/pie/css/style.css">
	<link rel='stylesheet' id='BNS-Corner-Logo-Style-css'  href='../css/social_icons_from_Techandallcom.css' type='text/css' media='screen' />
</head>
<body>
		<div class="social-icons social-footer">
				<ul>
				  <li class="twitter" style="background-color: #f0f0f0">
					<a href="http://www.twitter.com/techandallcom" target="_blank">Twitter</a>
				  </li>
				  <li class="facebook" style="background-color: #f0f0f0">
					<a href="http://www.twitter.com/techandallcom" target="_blank">Facebook</a>
				  </li>
			
				  <li class="youtube" style="background-color: #f0f0f0">
					<a href="http://www.twitter.com/techandallcom" target="_blank">YouTube</a>
				  </li>
			
				  <li class="googleplus" style="background-color: #f0f0f0">
					<a href="http://www.twitter.com/techandallcom" target="_blank">Google +r</a>
				  </li>
				</ul>
			  </div>
<text>2ºDAW Proyecto Integrado 2018  ||  © CopyRigth by: I.E.S Polígono Sur</text>
<br>
<text> Calle Esclava del Señor, 2, 41013 Sevilla</text>

</body>
</html>