footer {
	background-color: #222;
	border-style: solid;
	border-width: 1px;
	border-color: #080808;
	color: #9d9d9d;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding-top: 13px;
}