<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand nombre-web" href="../index.php">WildSports</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="./registrouser.html"><span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
            <li><a href="./login.html"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>
        </ul>
    </div>
</div>